<h2>Различия между исходным и новым списками сокращений</h2>

<h3>Есть в исходном списке, но нет в новом</h3>
<ul>
    {% if missing_abbs %}
        {% for change in missing_abbs %}
            <li>{{ change.abbreviation }} - {{ change.description }}</li>
        {% endfor %}
    {% else %}
        <p>No missing abbreviations detected.</p>
    {% endif %}
</ul>

<h3>Есть в новом списке, но нет в исходном</h3>
<ul>
    {% if new_found_abbs %}
        {% for new in new_found_abbs %}
            <li>{{ new.abbreviation }} - {{ new.description }}</li>
        {% endfor %}
    {% else %}
        <p>No new abbreviations found.</p>
    {% endif %}
</ul>
