{% load static %}
<div class="fab-container">
    {% if page == 'process' %}
    <a href="{% url 'upload_file' %}"
       class="fab new-upload-fab tooltip tooltip-left">
        <span class="material-icons">upload_file</span>
        <span class="tooltiptext">Загрузить новый файл</span>
    </a>
    <a href="{% url 'dictionary' %}"
       class="fab dictionary-fab tooltip tooltip-left"
       data-fab-action="save-page-state">
        <span class="material-symbols-outlined icon-book">book_6</span>
        <span class="material-icons-outlined icon-auto-stories">auto_stories</span>
        <span class="tooltiptext">Словарь</span>
    </a>
    <div class="fab-settings-control">
        <button type="button"
                class="fab settings-fab tooltip tooltip-left"
                data-processing-action="toggle-global-settings"
                aria-controls="global-settings-panel"
                aria-expanded="false">
            <span class="material-icons-outlined">settings</span>
            <span class="tooltiptext">Настройки</span>
        </button>
        {% include 'partials/settings_panel.html' %}
    </div>
    {% elif page == 'dictionary' %}
    <button type="button"
            class="fab back-fab tooltip tooltip-left"
            data-fab-action="back">
        <span class="material-icons">arrow_back</span>
        <span class="tooltiptext">Назад</span>
    </button>
    {% endif %}

    <button type="button"
            class="fab scroll-up-fab tooltip tooltip-left"
            data-fab-action="scroll-top">
        <span class="material-icons">arrow_upward</span>
        <span class="tooltiptext">Наверх</span>
    </button>
    <button type="button"
            class="fab scroll-down-fab tooltip tooltip-left"
            data-fab-action="scroll-bottom">
        <span class="material-icons">arrow_downward</span>
        <span class="tooltiptext">Вниз</span>
    </button>
</div>
<script src="{% static 'js/fab.js' %}"></script>
