# Python bytecode and cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.env

# Virtual environment
.venv/
venv/

# Django migrations
**/migrations/

# Logs
*.log

# SQLite database
*.sqlite3

# IDE and editor files
.vscode/
.idea/
*.swp

# System files
.DS_Store
Thumbs.db

# Also
abb_app/backend_scripts/drafts/
abb_app/backend_scripts/bkups/
abb_app/backend_scripts/abb_examples/
abb_app/backend_scripts/docs_examples/
abb_app/backend_scripts/data/*
!data/abb_dict.csv
abb_app/backend_scripts/notes for review.txt
abb_app/backend_scripts/output/abbreviations_table.docx
abb_app/backend_scripts/abbs_review.py